


<div class="info-section">
    <div class="info-section__inner-container">
        <h1>Info</h1>
        <br />
        <p>
            Habit Calendar is a simple means of displaying
            ones weekly habit progress on a select few key habits.
        </p>
        <br />
        <p>
            This means that Habit Calendar is narrowly focused on 5 or
            less core habits and you will easily see your successes and failures
            grow day by day from a single week to a single month to a year and so on.
        </p>



    </div>
</div>




