@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="identity-form">
    <div class="identity-form__inner-container">
        <h1 class="identity-form__title">@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>