@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="identity-form">
    <div class="identity-form__inner-container">
        <h1 class="identity-form__title">@ViewData["Title"]</h1>
        <h2 class="identity-form__title">Enter your email.</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="identity-form__field-container">
                <label asp-for="Input.Email" class="form-label identity-form__label"></label>
                <input asp-for="Input.Email" class="form-control identity-form__input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="identity-form__button">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
