@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="identity-form">
    <div class="identity-form__inner-container">
        <h1 class="identity-form__title">@ViewData["Title"]</h1>
        <p class="identity-form__paragraph">
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>
