@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="identity-form">
    <div class="identity-form__inner-container">
        <form method="post">
            <h1 class="identity-form__title">@ViewData["Title"]</h1>
            <h2 class="identity-form__title">Reset your password.</h2>
            @* <hr /> *@
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="identity-form__field-container">
                <label asp-for="Input.Email" class="identity-form__label"></label>
                <input asp-for="Input.Email" class="identity-form__input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="identity-form__field-container">
                <label asp-for="Input.Password" class="identity-form__label"></label>
                <input asp-for="Input.Password" class="identity-form__input" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="identity-form__field-container">
                <label asp-for="Input.ConfirmPassword" class="identity-form__label"></label>
                <input asp-for="Input.ConfirmPassword" class="identity-form__input" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="identity-form__button">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
