@using HabitCalendar.Models
@model CalendarDisplayModel;


@{
    





}
<div class="day-container__inner-container">
    <div class="day-container__top-container">
        <div class="day-container__day">@Model.Date.Day</div>
        <div class="day-container__top-right">170.4</div>
    </div>
    <div class="day-container__middle-container">
        <div class="day-container__big-x"><i class="fa-solid fa-xmark"></i></div>
        <div class="day-container__circle"><i class="fa-solid fa-o"></i></div>
        <div class="day-container__star"><i class="fa-regular fa-star"></i></div>
    </div>
    <div class="day-container__bottom-container">
        04:22:05
    </div>
</div>







@* <div class="day-container__inner-container">
    <div class="day-container__top-container">
        <div class="day-container__day">@curr.Date.Day</div>
        <div class="day-container__top-right">170.4</div>
    </div>
    <div class="day-container__middle-container">
        <div class="day-container__big-x"><i class="fa-solid fa-xmark"></i></div>
        <div class="day-container__circle"><i class="fa-solid fa-o"></i></div>
        <div class="day-container__star"><i class="fa-regular fa-star"></i></div>
    </div>
    <div class="day-container__bottom-container">
        04:22:05
    </div>
</div> *@