@model DateOnly



@* Could pass the same model as for the index here and databag the selected date... *@

<div class="form-container--single-day">
    <form method="post" class="">
        @* <input asp-for="HabitDaysCompletedId" hidden /> *@
    
     <div>
         <h2>Habit List on @Model</h2>
     </div>
    <div class="form-container--single-day__header-container">
        <div>Habit Name</div>
        <div>Habit Display</div>
        <div>Value (optional)</div>
        <div>Notes (optional)</div>
        <div>Habit Completed</div>
    </div>
    <div class="form-container--single-day__body-container">





    </div>
    
    
    
    </form>



</div>
