@{
    ViewData["Title"] = "Home Page";
}


    <nav>
            <ul class="nav-internal-container">
                <li><a href="#">Track Habit</a></li>
                <li><a href="#">Stop Tracking a Habit</a></li>
                <li><a href="#">Info</a></li>
                <li><a href="#">Log In / Out</a></li>
            </ul>
    </nav>

    <div id="calendar-container">
        <div class="day-container">17</div>
        <div class="day-container">16</div>
        <div class="day-container">15</div>
        <div class="day-container">14</div>
        <div class="day-container">13</div>
        <div class="day-container">12</div>
        <div class="day-container">11</div>
        <div class="day-container">10</div>
        <div class="day-container">9</div>
        <div class="day-container">8</div>
        <div class="day-container">7</div>
        <div class="day-container">6</div>
        <div class="day-container">5</div>
        <div class="day-container">4</div>
    </div>



    <div class="">
        <h1 class="">Welcome</h1>
    </div>



@* text-center *@
@* display-4 *@