@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
<p>Use this page to detail your site's privacy policy. NOT!</p>
@{
    string stringu = "friend!!!";
    if ( true )
    {
        <h1>@stringu</h1>
    }
}

@for( int i = 0; i < 5; i++)
{
    <p>Item @i</p>
}







