@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <h3 class="identity-form__title">@ViewData["Title"]</h3>
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            
            @if ( Model.IsEmailConfirmed )
            {
                <div class="form-floating mb-3 input-group identity-form__field-container">
                    <label asp-for="Email" class="form-label identity-form__label"></label>
                    <input asp-for="Email" class="form-control identity-form__input" placeholder="Please enter your email." disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">Email Verified!</span>
                        </div>
                </div>
            }
            else
            {
                <div class="identity-form__field-container">
                    <label asp-for="Email" class="form-label identity-form__label"></label>
                    <input asp-for="Email" class="form-control identity-form__input" placeholder="Please enter your email." disabled />
                </div>
                <div class="identity-form__field-container">
                    <div></div>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="identity-form__button">Send verification email</button>
                </div>
            }
            <div class="identity-form__field-container">
                <label asp-for="Input.NewEmail" class="form-label identity-form__label"></label>
                <input asp-for="Input.NewEmail" class="form-control identity-form__input" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="identity-form__button">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
