*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


:root {
    --large-screen-day-width: 100px;
    --color-dark: black;
    --color-medium: grey;
    --color-light: #888888;
    --color-nice: #F0CB53;
}

/*body{
    position: relative;
}

.random-object {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 30;
    position: absolute;
    top: 10px;
    left: 100px;
    background-color: red;
}*/


nav{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 10px;

}

.nav-internal-container {
    width: 100vw;
    max-width: calc(var(--large-screen-day-width)*7 + (10px * 6));
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 25px;
    /*    padding: 0 10px 0 10px;*/
    /*    border: 1px solid black;*/
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;
    z-index: 40;
}

.nav-internal-container > li > a {
    color: black;
    text-decoration: none;
    /*    border: 1px solid black;*/
    width: var(--large-screen-day-width);
    content: "";
    transition: all 0.15s ease-in-out;
}
.nav-internal-container > li > a:hover {
    color: var(--color-nice);
}

/* ~~~~~~~~~~~~~~~~~~~ Calendar Section ~~~~~~~~~~~~~~~~~~~ */

#calendar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#days-of-week-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100vw;
    max-width: calc(var(--large-screen-day-width)*7 + (10px * 6));
    gap: 10px;
    margin-bottom: 10px;
}
.day-of-week {
    width: var(--large-screen-day-width);
}

#greater-calendar-container {
    display: flex;
}
#side-calendar-area {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}


#calendar-container {
    display: grid;
    width: 100vw;
    max-width: calc(var(--large-screen-day-width)*7 + (10px * 6));
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day-container {
    border: 1px solid black;
    width: var(--large-screen-day-width);
    height: var(--large-screen-day-width);
    transition: all 0.1s ease;
    padding: 4px;
}
.day-container:hover {
    background-color: #f7f7f7;
    background-color: var(--color-nice);
}

.side-container {
    border: none;
    width: var(--large-screen-day-width);
    height: var(--large-screen-day-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day-not-visible {
    border: none;
    visibility: hidden;
}

.current-day {
    border: 1px solid var(--color-nice);
}

.non-current-month {
    border: 1px solid var(--color-light);
    color: var(--color-light)
}


/* ~~~~~~~~~~~~~~~~~~~ HABIT LIST PAGE ~~~~~~~~~~~~~~~~~~~ */
#habit-list-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
/*    border: 1px solid purple;*/
}
.habit-list-title {
    
}

#habit-list-header {
    width: 100vw;
    max-width: calc(var(--large-screen-day-width)*7 + (10px * 6));
/*        border: 1px dashed black;*/
    display: flex;
    justify-content: space-between;
}
.temp-data-success {
    color: #72c762
}
#habit-list-header a, #habit-list-header a:active {
    text-decoration: none;
    color: inherit;
}
#habit-list-header i, #habit-list-header a:hover {
    color: var(--color-nice);
}

#habit-list-table {
    width: 100vw;
    max-width: calc(var(--large-screen-day-width)*7 + (10px * 6));
    margin-top: 30px;
    border: none;
}

#habit-list-table > thead > tr,
#habit-list-table > tbody > tr {
/*    text-align: center;*/
    display: grid;
    gap: 10px;
    grid-template-columns: 100px calc(100px * 3 + 10px * 2) 100px 100px 100px;
    
}

#habit-list-table th {
    text-align: left;
    margin-bottom: 10px;
    font-weight: inherit;
} 
#habit-list-table td {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-dark);
/*    text-align: left;*/
    margin-bottom: 10px;
    padding:8px;
    min-height: 50px;
}

.habit-list-action a, .habit-list-action a:active {
    text-decoration: none;
    color: inherit;
}
.habit-list-edit i, .habit-list-edit:hover {
    color: #0094ff;
}
.habit-list-delete i, .habit-list-delete:hover {
    color: #ff9595;
}

/* ~~~~~~~~~~~~~~~~~~~ Create/Edit/Delete Habit Sections ~~~~~~~~~~~~~~~~~~~ */
.form-container{
    border: 1px solid purple;
    height: 80vh;
    display: grid;
    justify-content: center;
}
form {
    border: 1px solid orange;
    height: 200px;
    width: calc(var(--large-screen-day-width)*7 + (10px * 6));
    padding: 10px;
}








/* ~~~~~~~~~~~~~~~~~~~ Unused Section ~~~~~~~~~~~~~~~~~~~ */
