
@model Habit;
<div class="form-container">
    <form class="form form--habit" method="post">
        <div>
            <div>
                <div>Create Habit</div>
            </div>
             @* <div asp-validation-summary="ModelOnly"></div> *@
            <div>
                <label asp-for="HabitName"></label>
                <input asp-for="HabitName"/>
                <span asp-validation-for="HabitName"></span>
            </div>
            <div>
                <label asp-for="HabitDescription"></label>
                <input asp-for="HabitDescription"/>
                <span asp-validation-for="HabitDescription"></span>
            </div>
            <div>
                <label asp-for="HabitDisplayMethod"></label>
                <select asp-for="HabitDisplayMethod">
                    <option value="star">Star</option>
                    <option value="circle">Circle</option>
                    <option value="number">Number</option>
                </select>
                 @* <span asp-validation-for="HabitDisplayMethod"></span> *@
            </div>
            <button type="submit">Create</button>
            <a asp-controller="Habit" asp-action="Index">Back to Habit List</a>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}











