@model Habit;
<div class="form-container">
    <form method="post" class="crud-form">
        <input asp-for="HabitId" hidden />
        <div>
            <div>
                <h2 class="crud-form__title">Delete Habit</h2>
            </div>
            @* <div asp-validation-summary="ModelOnly"></div> *@
            <div class="crud-form__field">
                <label class="crud-form__label" asp-for="HabitName"></label>
                <input class="crud-form__input" asp-for="HabitName" disabled />
            </div>
            <div class="crud-form__field">
                <label class="crud-form__label" asp-for="HabitDisplayMethod"></label>
                <select class="crud-form__select" asp-for="HabitDisplayMethod" disabled>
                    <option value="big-x">Big X</option>
                    <option value="short-text">Short Text</option>
                    <option value="circle">Circle</option>
                    <option value="star">Star</option>
                    <option value="long-text">Long Text</option>
                </select>
            </div>
            <div class="crud-form__field">
                <label class="crud-form__label" asp-for="HabitDescription"></label>
                <input class="crud-form__text-area" asp-for="HabitDescription" disabled />
            </div>
            <div class="crud-form__submit-back-buttons">
                <button class="crud-form__delete-button" type="submit">Delete</button>
                <a class="crud-form__back-button" asp-controller="Habit" asp-action="Index">Back to Habit List</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}











