@model Habit;
<div class="form-container">
    <form method="post" class="crud-form">
        <input asp-for="HabitId" hidden />
        <div>
            <div>
                <h2 class="crud-form__title">Edit Habit</h2>
            </div>
            @* <div asp-validation-summary="ModelOnly"></div> *@
            
            <div class="crud-form__field">
                <label class="crud-form__label" asp-for="HabitName"></label>
                <input class="crud-form__input" asp-for="HabitName" />
                <span class="crud-form__validation" asp-validation-for="HabitName"></span>
            </div>
            <div class="crud-form__field">
                <label class="crud-form__label" asp-for="HabitDisplayMethod"></label>
                <select class="crud-form__select" asp-for="HabitDisplayMethod">

                    @{
                        string[] habitDisplayMethods = { "Big X", "Short Text", "Circle", "Star", "Long Text" };
                        foreach ( string habitDisplayMethod in habitDisplayMethods )
                        {
                            bool isDisplayMethodAvailable = true;
                            foreach ( string curr in ViewBag.currentHabitDisplays )
                            {
                                if ( curr == habitDisplayMethod ) { isDisplayMethodAvailable = false; }
                            }

                            if ( isDisplayMethodAvailable == true || Model.HabitDisplayMethod == habitDisplayMethod )
                            {
                                <option value="@habitDisplayMethod">@habitDisplayMethod</option>
                            }
                            else
                            {
                                <option value="@habitDisplayMethod" disabled>@habitDisplayMethod</option>
                            }
                        }
                    }

@*                     <option value="big-x">Big X</option>
                    <option value="short-text">Short Text</option>
                    <option value="circle">Circle</option>
                    <option value="star">Star</option>
                    <option value="long-text">Long Text</option> *@
                </select>
                <span asp-validation-for="HabitDisplayMethod"></span>
            </div>
            <div class="crud-form__field">
                <label class="crud-form__label" asp-for="HabitDescription"></label>
                <input class="crud-form__text-area" asp-for="HabitDescription" />
                <span class="crud-form__validation" asp-validation-for="HabitDescription"></span>
            </div>
            <div class="crud-form__submit-back-buttons">
                <button class="crud-form__update-button" type="submit">Update</button>
                <a class="crud-form__back-button" asp-controller="Habit" asp-action="Index">Back to Habit List</a>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}











